@import url('https://fonts.googleapis.com/css?family=Work+Sans|Open+Sans&display=swap');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header {
  background-color: rgb(23, 48, 51) !important;
} */

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: rgb(117,126,127);
  color: white;
  margin-top: auto;
  width: 100%;
}